<!DOCTYPE html>

<html lang="en"> 

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>MercadoLiebre</title>

    <body>

        <header>
    
            <div class="searchAndLogo">
    
                <a href="./" class="logoML"><img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLibre"></a>

                <div class="inputWithIcon">
                    <input type="text" id="name" placeholder="Buscar productos, marcas y mas...">
                    <i class="fas fa-search"></i>
                </div>
    
                <div class="cuotasSinTarjetaFrase">
                    <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito
                </div>
    
            </div>
                
            <nav class="navegacion">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="./signin.html">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="./login.html">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
                </ul>
            </nav>
    
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    
        </header>
    
        <main>
    
            <div class="containerForm">

                <form action="./" class="form">

                    <div class="form__boxLabel">
                        <input type="text" id="username" placeholder="Nombre de usuario:">
                    </div>

                    <div class="form__boxLabel">
                        <input type="password" id="password" placeholder="Elegi tu contraseña:">
                    </div>

                    <button class="form__button" type="submit">Enviar</button>

                </form>

            </div>
    
        </main>
    
        <footer>

            <div class="footer">
    
    
                <div class="footer__sectionsContainer">
    
                    <section class="footer__section">
                        <div class="footerIconFontAwesome">
                            <i class="fas fa-credit-card"></i>
                        </div>
                        <h4>Pagá con tarjeta o en efectivo</h4>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </section>
    
                    <section class="footer__section">
                        <div class="footerIconFontAwesome">
                            <i class="fas fa-gift"></i>
                        </div>  
                        <h4>Envío gratis desde $ 2.500</h4>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </section>
    
                    <section class="footer__section">
                        <div class="footerIconFontAwesome">
                            <i class="fas fa-user-shield"></i>
                        </div>
                        <h4>Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                    </section>
    
                </div>
    
                <section class="copyright">
                    <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
                </section>
            
            </div>
    
        </footer>
    
    </body>

</head> 