/* * ------------------------------- GLOBALES ------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ebebeb;
    font-family: 'Roboto Flex';
}

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

/* * ------------------------------- HEADER ------------------------------- */
 
header{
    background-color: #EAC926;
    padding: 0;
    margin: 0
}

.logoML{
    width: 50%;
    padding: 1em;
}

.headTabletAndDesktop{
    display: flex;
}

.searchAndLogo{
    display: flex;
    padding: 0 10px 0 10px;
    width: 100%;
}

.inputWithIcon {
    position: relative;
    margin :auto;
    width: 100%;
}

.inputWithIcon input {
    height: 30px;
    border-radius: 5px;
    border-style: none;
    width: 100%;
}

.inputWithIcon i {
    position: absolute;
    padding-right: 2px;
    padding-left: 2px;
    right: 8px;
    top: 8px;
    background-color: white;
}

.fa-hand-holding-usd{
    padding-right: 5px;
}

.navegacion{
    display: none;
    margin-bottom: 0.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 12px;
    display: flex;
}

.burger-menu{
    display: flex;
    justify-content: center;
    padding: 0;
}

.fa-bars{
    color: #ffffff;
    font-size: 1.5em;
    background: #03264C;
    border: 12px solid #03264C;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.cuotasSinTarjetaFrase{
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    display: block;
}

/* * ------------------------------- MAIN ------------------------------- */

.Hola{
    width: 100%;
    max-width: 1700px;
    display: flex;
    margin: auto;
}


main {
    background-color: #ebebeb;
}

main section {
    width: 90%;
    margin: auto;
}

section div {
    margin-top: 10px;
    margin-bottom: 10px;
}

section h2 {
    font-size: 24px;
    padding-top: 0.7em ;
    padding-bottom: 0.7em ;
}


p{
    font-size: 12px;
}

.precios{
    font-size: 18px;
    width: 30%;
}


.descuentos{
    font-size: 16px;
    color: #39b54a;
    text-align: left;
}

.descripcion{
    display: none;
    font-size: 16px;
    margin-top: 0.5em;
}

.fa-truck{
    margin: 0.5em;
    color: #39b54a;
    padding: 0.4em;
    border: solid 2px #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px ;
    top: -25px;
    background: white; 
}

.detallesProductos {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
}

.priceAndDiscount {
    display: flex;
    justify-content: space-between;
}

.cajaProducto{
    background-color: white;
}


/* * ------------------------------- FOOTER ------------------------------- */ 



footer{
    width: 97%;
    background-color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    margin: auto;
}

footer section h4 {
    color: #666;
    margin-top: 0.5em;
}

.tarjetaCredito{
    margin-top: 4em;
    padding: 0;
}

.fa-credit-card{
    font-size: 2em;
    color: #03264C;
}

.envioGratis{
    margin-top: 4em;
    padding: 0;
}

.fa-gift{
    font-size: 2em;
    color: #03264C;
}

.seguridad{
    margin-top: 4em;
    padding: 0;
}

.fa-user-shield{
    font-size: 2em;
    color: #03264C;
}

.copyright{
    margin-top: 2em;
    margin-bottom: 1.5em;
}

/* footer section p {
    color: #ebebeb;
}

Si le agrego este color que dice el PDF queda casi invisible

*/


/* * ------------------------------- MEDIAS QUERIES ------------------------------- */ 

@media (min-width : 361px)  {

    .descripcion{
        display: inline-block;
    }
    
    .cajaProducto{
        box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.40);
    }
    
    .navegacion{
        display: inline-block;
        /* Nuevo */
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
    }

    .navegacion ul li{
        padding: 0.2em;
    }

    .navegacion ul li a{
        font-size: 8px;
    }
    
    .burger-menu{
        display: none;
    }

    .boxProductsVisit{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

}

@media (min-width : 769px)  {

 
    .descripcion{
        display: inline-block;
    }

    .cajaProducto {
        box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.40);
    }

    .navegacion{
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    .navegacion ul li{
        padding: 0.4em;
    }

    .navegacion ul li a{
        font-size: 14px;
    }

    .burger-menu{
        display: none;
    }

    .boxProductsVisit{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

}



